

/* Default Styles */
:root {
    --color-text: black; 
    --color-background: #edf6f9; 

    --color-btn: #f8f9fa; 
    --color-btn-border: #343a40; 

    --color-btn-hover: #81a1c1; 
    --color-btn-active: #4c566a; 
    
    --color-btn-text: #000000; 
    --player-one-color: tomato;
    --player-two-color: cornflowerblue;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* The layout itself */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    margin: 0;
}

#currentTurn{
    text-align: center;
    line-height: 0;
}

#resetBtn{
    width: 10rem;
    height: 2.2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #050505;
    transition: transform 0.15s ease, background-color 0.15s ease;
}

#resetBtn:hover{
    transform: scale(1.03);
    background-color: var(--color-background);
    border: var(--color-btn-text) 2px solid;
    color: var(--color-btn-text);
}

/* Grid style */
.grid-container {
    width: 450px;
    height: 450px;
    display: grid;
}

.grid-container > div {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.grid-row-one {
    align-self: end;
}

.grid-row-two {
    align-self: center;
}

.grid-row-three {
    align-self: baseline;
}

.btn {
    width: calc((450px / 3) * 0.92);
    height: calc((450px / 3) * 0.92);

    font-size: 1.8rem;
    font-weight: bold;

    border: solid 2px var(--color-btn-border);
    border-radius: 5px;
    background-color: var(--color-btn);
    color: var(--color-btn-text); 

    transition: background-color 0.15s ease, transform 0.15s ease;
}

.btn:hover {
   filter: brightness(95%);
    transform: scale(1.015); /* Efecto de agrandamiento */
}

.btn:active {
    transform: scale(0.96); /* Efecto de reducción */
}

/* Toggle Classes */
.hidden{
    display: none; 
}


.Red{
    background-color:  var(--player-one-color);
}

.Blue{
    background-color: var(--player-two-color);
}

.Red:hover,
.Blue:hover{
    filter: brightness(110%);
}

.credits{
    padding-top: 3rem;
    font-size: .7rem;
}

.credits > span{
    color: black;
    cursor: pointer;
}

 a{
    text-decoration: none;
    color: black;
 }

